{% extends 'backoffice/base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('tvdt_backoffice_index') }}">{{ 'Home'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('tvdt_backoffice_season', {seasonCode: elimination.quiz.season.seasonCode}) }}">{{ elimination.quiz.season.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('tvdt_backoffice_quiz', {seasonCode: elimination.quiz.season.seasonCode, quiz: elimination.quiz.id}) }}">{{ elimination.quiz.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'Prepare Elimination'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="post">
                {%~ for candidate, colour in elimination.data %}
                    <div class="row mb-3">
                        <label for="colour-{{ candidate|lower }}" class="col-4 col-form-label">{{ candidate }}</label>
                        <div class="col-4">
                            <select id="colour-{{ candidate|lower }}" class="form-select"
                                    name="colour-{{ candidate|lower }}">
                                <option
                                    value="green"{% if colour == 'green' %} selected{% endif %}>{{ 'Green'|trans }}</option>
                                <option
                                    value="red"{% if colour == 'red' %} selected{% endif %}>{{ 'Red'|trans }}</option>
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <div class="btn-group mb-3">
                    <button type="submit" class="btn btn-primary" name="start" value="0">{{ 'Save'|trans }}</button>
                    <button type="submit" class="btn btn-success" name="start"
                            value="1">{{ 'Save and start elimination'|trans }}</button>
                    <a href="{{ path('tvdt_backoffice_quiz', {seasonCode: elimination.quiz.season.seasonCode, quiz: elimination.quiz.id}) }}"
                       class="btn btn-secondary">{{ 'Back'|trans }}</a>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <p class="mb-3">{{ 'Help text for preparing elimination'|trans }}</p>
        </div>
    </div>
{% endblock %}
