{% extends 'backoffice/base.html.twig' %}

{% block title %}{{ parent() }}{{ season.name }}{% endblock %}

{% block body %}
    {% set tabs = [
        {id: 'overview', label: 'Overview'|trans, route: 'tvdt_backoffice_quiz_overview'},
        {id: 'result', label: 'Results & Elimination'|trans, route: 'tvdt_backoffice_quiz_result'},
        {id: 'candidates', label: 'Candidates'|trans, route: 'tvdt_backoffice_quiz_candidates'},
    ] %}

    <h2 class="py-2">{{ 'Quiz'|trans }}: {{ season.name }} - {{ quiz.name }}</h2>
    <ul class="nav nav-tabs pt-2">
        {% for tab in tabs %}
            <li class="nav-item">
                <a class="nav-link{{ activeTab == tab.id ? ' active' }}" href="{{ path(tab.route, {seasonCode: season.seasonCode, quiz: quiz.id}) }}">
                    {{ tab.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="pt-3">
        {{ include(template) }}
    </div>
{% endblock %}
