{% extends 'backoffice/base.html.twig' %}
{% block body %}
    <h2 class="py-2">{{ 'Season'|trans }}: {{ season.name }}</h2>
    <div class="row">
        <div class="col-md-6 col-12">
            <h4 class="py-2">{{ 'Quizzes'|trans }}</h4>
            <div class="list-group">
                {% for quiz in season.quizzes %}
                    <a class="list-group-item list-group-item-action{% if season.activeQuiz == quiz %} active{% endif %}"
                       href="{{ path('app_backoffice_quiz', {seasonCode: season.seasonCode, quiz: quiz.id}) }}">{{ quiz.name }}</a>
                {% else %}
                    No quizzes
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div style="display: flex ;flex-direction: row; justify-content: space-between">
                <h4 class="py-2">{{ 'Candidates'|trans }}</h4>
                <button class="btn btn-outline-primary">{{ 'Add Candidate'|trans }}</button>

            </div>
            <ul>
                {% for candidate in season.candidates %}
                    <li>{{ candidate.name }}</li>{% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
{% endblock body %}
