<h6>{{ 'Upload quiz via XLSX'|trans({}, 'instructions') }}</h6>
<p>{{ 'Upload an XLSX file with the questions for this quiz. After uploading you can review, check and finalize the quiz.'|trans({}, 'instructions') }}</p>
<h6>{{ 'Expected format'|trans({}, 'instructions') }}</h6>
<ul>
    <li>{{ 'First column: question text'|trans({}, 'instructions') }}</li>
    <li>{{ 'Next columns: answer options'|trans({}, 'instructions') }}</li>
    <li>{{ 'Mark the correct answer in the spreadsheet'|trans({}, 'instructions') }}</li>
</ul>
