<div class="row">
    <div class="col-md-6 col-12">
        <div class="d-flex align-items-center mb-3">
            <h4 class="mb-0 pe-2">{{ 'Candidates'|trans }}</h4>
            <a class="link"
               href="{{ path('tvdt_backoffice_add_candidates', {seasonCode: season.seasonCode}) }}">{{ 'Add Candidate'|trans }}
            </a>
        </div>
        <ul class="mb-3">
            {% for candidate in season.candidates %}
                <li>{{ candidate.name }}</li>
            {% else %}
                {{ 'No candidates'|trans }}
            {% endfor %}
        </ul>
    </div>
</div>
