<div class="row">
    <div class="col-md-6 col-12">
        <div class="d-flex align-items-center gap-2 mb-3">
            <a class="btn btn-sm btn-outline-primary"
               href="{{ path('tvdt_backoffice_quiz_add_blank', {seasonCode: season.seasonCode}) }}">{{ 'Add Empty Quiz'|trans }}</a>
            <a class="btn btn-sm btn-outline-secondary"
               href="{{ path('tvdt_backoffice_quiz_add', {seasonCode: season.seasonCode}) }}">{{ 'Import Quiz from Excel'|trans }}</a>
        </div>
        <div class="list-group mb-3">
            {% for quiz in season.quizzes %}
                <a class="list-group-item list-group-item-action{% if season.activeQuiz == quiz %} active{% endif %}"
                   href="{{ path('tvdt_backoffice_quiz', {seasonCode: season.seasonCode, quiz: quiz.id}) }}">
                    {{ quiz.name }}
                    {% if season.activeQuiz == quiz %}
                        <span class="badge text-bg-light">{{ 'Active'|trans }}</span>
                    {% endif %}
                    {% if quiz.isFinalized %}
                        <span class="badge text-bg-success">{{ 'Ready'|trans }}</span>
                    {% endif %}
                </a>
            {% else %}
                {{ 'No quizzes'|trans }}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6 col-12">
        {{ include('backoffice/help/season_tests.html.twig') }}
    </div>
</div>
