<div class="row">
    <div class="col-md-6 col-12">
        <div class="mb-3">
            <a class="btn btn-sm btn-outline-primary"
               href="{{ path('tvdt_backoffice_add_candidates', {seasonCode: season.seasonCode}) }}">{{ 'Add Candidate'|trans }}</a>
        </div>
        <ul class="mb-3">
            {% for candidate in season.candidates %}
                <li>{{ candidate.name }}</li>
            {% else %}
                {{ 'No candidates'|trans }}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6 col-12">
        {{ include('backoffice/help/season_candidates.html.twig') }}
    </div>
</div>
